[Desktop Entry]
Type=Application
Terminal=false
Icon=steam
Name=Install Steam
Exec=sh -c "$HOME/.local/bin/install-steam-flatpak"
Categories=Utility;
