[Desktop Entry]
Type=Application
Terminal=false
Icon=libreoffice-startcenter
Name=Install LibreOffice (AppImage)
Exec=sh -c "$HOME/.local/bin/install-libreoffice-appimage"
Categories=Office;
