@import "mocha.css"; 

* {
    font-family: "Switzer", "Noto Color Emoji", sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    border-bottom: none;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.1s;
}

/* --- THE ISLANDS --- */
#workspaces,
#window,
#status {
    background-color: @base;
    border-radius: 12px;
    padding: 0px 14px;
    margin: 10px 10px;
    
    /* Smooth Shadow */
    box-shadow: 
        0 0 0 1px rgba(17, 17, 27, 0.6),
        0 0 0 2px rgba(17, 17, 27, 0.5),
        0 0 0 3px rgba(17, 17, 27, 0.4),
        0 0 0 4px rgba(17, 17, 27, 0.3),
        0 0 0 5px rgba(17, 17, 27, 0.2),
        0 0 0 6px rgba(17, 17, 27, 0.1);
        
    border: 1px solid @surface0;
}

#workspaces button {
    padding: 0 5px;
    color: @subtext0;
    border-radius: 12px;
}

#workspaces button.active {
    color: @mauve;
    background-color: @surface0;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button:hover {
    background-color: @surface1;
    color: @text;
}

#window {
    background-color: @mantle;
}

/* --- RIGHT SIDE MODULES --- */
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#battery,
#clock,
#custom-swaync,
#tray,
#backlight {
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    border: none;
    box-shadow: none;
}

/* Module Colors */
#network { color: @yellow; }
#bluetooth { color: @blue; }

/* Audio (Speakers) */
#pulseaudio { color: @teal; }

/* Audio (Mic) - Using a distinct color */
#pulseaudio.microphone { color: @maroon; }

#battery { color: @green; }
#battery.warning { color: @yellow; }
#battery.critical { color: @red; }
#battery.charging, #battery.plugged { color: @teal; }

/* Backlight */
#backlight { color: @peach; }

#clock { color: @maroon; }
#clock.date { color: @mauve; }
#custom-swaync { color: @flamingo; }

#power-profiles-daemon { color: @rosewater; }

/* Tray specific adjustments */
#tray {
    padding-right: 8px; /* Give it some space from the next module */
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
